[Unit]
Description=Run documents service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/documents
ExecStart=/home/pi/documents/monitor.sh
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target